<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="" *ngIf="!activityList">

    <ion-card>
      <ion-skeleton-text class="img" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-skeleton-text class="img" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-skeleton-text class="img" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>

  </div>
  
  
  <ion-card [routerLink]="['activity-detail', act.id]" button *ngFor="let act of (activityList | async)">
    <ion-img [src]="act.cropped"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ act.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>

 


</ion-content>
