<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img [src]="(activity | async).image"></ion-img>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>{{ (activity | async).name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ (activity | async).description }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-chip color="primary">{{ (activity | async).category }}</ion-chip> 
      </ion-item>
      <ion-item>
        <ion-label>Duration</ion-label>
        <ion-chip color="primary">{{ (activity | async).duration }}</ion-chip> 
      </ion-item>
      <ion-item>
        <ion-label>Popularity</ion-label>
        <ion-chip color="primary">{{ (activity | async).popularity }}</ion-chip> 
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="openModal()">
      <ion-icon name="caret-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>  

</ion-content>
